/*
color accesibilidad: #ffffff (#4e5759)
fondo accesibilidad: #ccd1d3
azul color: #0065BD
amarillo color: #E98300
gris color: #747678;
subtitulo color: #414141
fuente color: #616161
fuente botones color: #b2b2b2
fondo botones color:  
*/

 .icon{
	display: none !important;
 }
 
[class^="ico-"], [class*=" ico-"] {
	display: none !important;
 }
 
.vegas-slide-inner {
	background-color: gray !important;
	background-image: none !important;
}


body {
	color:  #616161;
}

a, a:visited, a:active{
	color: #616161;
}

a:hover{
	color: #E98300;
}

.even{
	background-color: #f5f5f5;
	/*border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;*/
}

.odd{
	background-color: white;
}

/*** TÍTULOS Y SUBTÍTULOS DEL INDEX ***/

.index-title{
	color: #0065bd;
}

.index-title > div{
	background: url(../img/line.svg) repeat-x center center;
}

.even .index-title  div div{
	background-color: #f5f5f5;
}

.odd .index-title  div div{
	background-color: #ffffff;
}

.index-subtitle > div{
	color: #414141;
	background: url(../img/line.svg) repeat-x center center;
}

.even .index-subtitle  div div{
	background-color: #f5f5f5;
}

.odd .index-subtitle  div div{
	background-color: #ffffff;
}

/*** ACCESIBILIDAD ***/

.accesibility-wrapper{
	background-color: #949fa3;
	color: #ffffff;
}

.accesibility-wrapper a{
	color: #ffffff;
}

.accesibility-wrapper a:hover{
	opacity: 0.6;
}

/*** BANNER ***/

.banner{
	/*background-color: #5daabe;
	background: url(../img/banner/banner.jpg) no-repeat center center;*/
}

/*** CABECERA ***/
	
.header-wrapper{
	background-color: rgba(255,255,255,0.9);
}
/*
.header-wrapper .links div{
    color: #b2b2b2;
}

.header-wrapper .links div a{
    color: #b2b2b2;
}

.header-wrapper .links div a:hover{
	background-color: #f5f5f5;
}
*/

/*** BUSCADOR ***/

.search-wrapper div {
	background-color: rgba(255,255,255,0.9);
}

.search-wrapper input {
	background-color: transparent;
}

.search-wrapper a {
	color: #E98300;
}

.search-wrapper a:hover {
	color: #0065BD;
}

/*** ÍNDICE ***/

.index-wrapper{
	background-color: rgba(0,0,0,0.7);
	color: white;
}

.index-wrapper a{
	color: white;
}

.index-wrapper a:hover{
	color: white;
}

.index-wrapper a:hover div{
	color: #E98300;
}

/*** BUSCADO ***/

.news-wrapper .searched li{
	border-left: 6px solid #E98300;
}

/*.news-wrapper .searched li a{
	color: #616161;
}*/

/*** NOTICIAS ***/

.carousel-caption {
    color: inherit;
}

.carousel-indicators li {
    background-color: rgba(0,0,0,0);
    border: 1px solid rgba(0,0,0,0.4);
}

.carousel-indicators .active {
    background-color: rgba(0,0,0,0.4);
	border: none;
}

.news-wrapper .date{
	color: #E98300;
}

/*** CIUDADANO ***/

.ciudadano-wrapper a{
	color: #616161;
}

.ciudadano-wrapper .icon {
	color: white;
	background-color: gray;
}

.ciudadano-wrapper .row div:nth-child(1) .icon {
	background: url(../img/ciudadano-bg1.png) no-repeat center center;
    background-size: contain;
}

.ciudadano-wrapper .row div:nth-child(2) .icon {
	background: url(../img/ciudadano-bg2.png) no-repeat center center;
    background-size: contain;
}

.ciudadano-wrapper .row div:nth-child(3) .icon {
	background: url(../img/ciudadano-bg3.png) no-repeat center center;
    background-size: contain;
}

.ciudadano-wrapper .row div:nth-child(5) .icon {
	background: url(../img/ciudadano-bg4.png) no-repeat center center;
    background-size: contain;
}

.ciudadano-wrapper .row div:nth-child(6) .icon {
	background: url(../img/ciudadano-bg5.png) no-repeat center center;
    background-size: contain;
}

.ciudadano-wrapper .row div a:hover .icon {
	background-color: #E98300;
	background-image: none;
}

.ciudadano-wrapper .other-links > div > div:nth-child(2){
	border-top: 1px solid #D1D1D1;
}

.ciudadano-wrapper .other-links  a:hover{
	color: #E98300;
}

/*** INTITUCIONES ***/

.instituciones-wrapper .icon {
	color: white;
	background-color: gray;
}

.instituciones-wrapper .row div:nth-child(1) .icon {
	background: url(../img/instituciones-bg1.png) no-repeat center center;
    background-size: contain;
}

.instituciones-wrapper .row div:nth-child(2) .icon {
	background: url(../img/instituciones-bg2.png) no-repeat center center;
    background-size: contain;
}

.instituciones-wrapper .row div:nth-child(4) .icon {
	background: url(../img/instituciones-bg3.png) no-repeat center center;
    background-size: contain;
}

.instituciones-wrapper .row div:nth-child(5) .icon {
	background: url(../img/instituciones-bg4.png) no-repeat center center;
    background-size: contain;
}

.instituciones-wrapper .row div a:hover .icon {
	background-color: #E98300;
	background-image: none;
}

.instituciones-wrapper .other-links{
	background-color: #f5f5f5;
}

.instituciones-wrapper .other-links  > div:nth-child(1){
	color: #E98300;
	border-bottom: 1px solid #D1D1D1;
}

.instituciones-wrapper a{
	color: #616161;
}

.instituciones-wrapper .other-links a:hover{
	color: #E98300;
}

/*** FUNCIONARIOS ***/

.funcionarios-wrapper .icon {
	color: white;
	background-color: gray;
}

.funcionarios-wrapper .row div:nth-child(1) .icon {
	background: url(../img/funcionarios-bg1.png) no-repeat center center;
    background-size: contain;
}

.funcionarios-wrapper .row div:nth-child(2) .icon {
	background: url(../img/funcionarios-bg2.png) no-repeat center center;
    background-size: contain;
}

.funcionarios-wrapper .row div:nth-child(3) .icon {
	background: url(../img/funcionarios-bg3.png) no-repeat center center;
    background-size: contain;
}

.funcionarios-wrapper .row div:nth-child(5) .icon {
	background: url(../img/funcionarios-bg4.png) no-repeat center center;
    background-size: contain;
}

.funcionarios-wrapper .row div:nth-child(6) .icon {
	background: url(../img/funcionarios-bg5.png) no-repeat center center;
    background-size: contain;
}

.funcionarios-wrapper .row div:nth-child(7) .icon {
	background: url(../img/funcionarios-bg6.png) no-repeat center center;
    background-size: contain;
}

.funcionarios-wrapper .row div a:hover .icon {
	background-color: #E98300;
	background-image: none;
}

.funcionarios-wrapper a{
	color: #616161;
}

/*** MUNICIPALIDADES ***/

.municipalidades-wrapper .icon {
	color: white;
	background: url(../img/municipalidades-bg.png) no-repeat center center;
    background-size: contain;
}

.municipalidades-wrapper a:hover .icon {
	background-color: #E98300;
	background-image: none;
}

.municipalidades-wrapper a{
	color: #616161;
}

/*** ENLACES DEL FOOTER ***/

.footerlinks-wrapper {
	background-color: #ebebeb;
}

.footerlinks-wrapper .title {
	color: #0065BD;
}

.footerlinks-wrapper li {
	border-bottom: 1px solid #d2d2d2;
}

.footerlinks-wrapper li:last-child {
	border-bottom: none;
}

/*** SOCIAL DEL FOOTER ***/

.footersocial-wrapper {
	color: #8e8e8e;
}

/*** FOOTER ***/

footer {
	border-top: 1px solid #d2d2d2;
}

footer, footer a {
	color: #8e8e8e;
}










	





