
@font-face {font-family: "Frutiger 55 Roman";
  src: url("css/e323f90203f8785beb652ab493d57c1d.eot"); /* IE9*/
  src: url("css/e323f90203f8785beb652ab493d57c1d.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("css/e323f90203f8785beb652ab493d57c1d.woff2") format("woff2"), /* chrome、firefox */
  url("css/e323f90203f8785beb652ab493d57c1d.woff") format("woff"), /* chrome、firefox */
  url("css/e323f90203f8785beb652ab493d57c1d.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("css/e323f90203f8785beb652ab493d57c1d.svg#Frutiger 55 Roman") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Frutiger LT 45 Light";
  src: url("css/d141fcbd9641ce533f79343c85d2a2e2.eot"); /* IE9*/
  src: url("css/d141fcbd9641ce533f79343c85d2a2e2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("css/d141fcbd9641ce533f79343c85d2a2e2.woff2") format("woff2"), /* chrome、firefox */
  url("css/d141fcbd9641ce533f79343c85d2a2e2.woff") format("woff"), /* chrome、firefox */
  url("css/d141fcbd9641ce533f79343c85d2a2e2.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("css/d141fcbd9641ce533f79343c85d2a2e2.svg#Frutiger LT 45 Light") format("svg"); /* iOS 4.1- */
}

body {
    font-family: "Frutiger LT 45 Light" !important;
    font-size: 1.4rem;
	font-style: normal;
    -webkit-font-smoothing: antialiased;
    /*-webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;*/
}

.news-wrapper, .ciudadano-wrapper, .instituciones-wrapper, .funcionarios-wrapper, .municipalidades-wrapper, .footerlinks-wrapper, .footersocial-wrapper{
	padding: 30px 0;
}

.footersocial-wrapper img{
	height: 50px;
}

/*** TAMAÑO DE LOS ICONOS ***/

.xs{
    font-size: 1.8rem;
	font-weight: normal !important;
}

.sm{
    font-size: 2.5rem;
	font-weight: normal !important;
}

.md{
    font-size: 3.6rem;
	font-weight: normal !important;
}

.lg{
    font-size: 4.5rem;
	font-weight: normal !important;
}

.xl{
    font-size: 7.6rem;
	font-weight: normal !important;
}

@media (max-width: 767px) {

	.lg{
		font-size: 3.6rem;
		font-weight: normal !important;
	}

	.xl{
		font-size: 4.5rem;
		font-weight: normal !important;
	}
	
}

/*** TÍTULOS Y SUBTÍTULOS DEL INDEX ***/

.index-title{
    font-size: 2.2rem;
}

.index-subtitle{
    font-size: 1.6rem;
}

/*** ACCESIBILIDAD ***/

.accesibility-wrapper{
	font-size: 1.3rem;
}

/*** BUSCADOR ***/

.search-wrapper input {
	font-size: 2.3rem;
}

/*** ÍNDICE ***/

.index-wrapper{
	font-size: 1.6rem;
}

@media (max-width: 767px) {

	.index-wrapper {
		font-size: 1.4rem;
	}
}

/*** NOTICIAS ***/

.news-wrapper .new-title{
	font-size: 1.4rem;
}

/*** CIUDADANO ***/

.text {
	font-size: 1.5rem;
	text-transform: uppercase;
}

@media (max-width: 767px) {

	.text {
		font-size: 1.4rem;
	}
	
}

@media (max-width: 400px) {

	.text {
		font-size: 1.1rem;
	}
	
}

/*** INSTITUCIONES ***/

.instituciones-wrapper .other-links > div:nth-child(1){
	font-size: 1.6rem;
}

/*** MUNICIPALIDADES ***/

.municipalidades-wrapper .text {
	font-size: 1.4rem;
	text-transform: initial;
}

/*** ENLACES DEL FOOTER ***/

.footerlinks-wrapper {
	font-size: 1.2rem;
}

.footerlinks-wrapper .title {
	font-size: 1.4rem;
}



















