
/*** Accesibilidad ***/
#btn-reiniciar:before {    content: "Ajustes por defecto";}
#btn-contraste:before {    content: "Alto contraste";}
#btn-texto:before {    content: "Modo texto";}
#btn-reducir:before {    content: "Reducir fuente";}
#btn-aumentar:before {    content: "Aumentar fuente";}
#btn-contacto:before {    content: "Contacto";}
#btn-ayuda:before {    content: "Ayuda";}
#btn-opciones:before {    content: "Opciones";}

/*** Buscador ***/
#btn-buscar:before {    content: "Buscar";}

/*** Accesibilidad ***/
#btn-xxxxxxxx:before {    content: "xxxxxxxxx";}
#btn-xxxxxxxx:before {    content: "xxxxxxxxx";}
#btn-xxxxxxxx:before {    content: "xxxxxxxxx";}
#btn-xxxxxxxx:before {    content: "xxxxxxxxx";}
#btn-xxxxxxxx:before {    content: "xxxxxxxxx";}
#btn-xxxxxxxx:before {    content: "xxxxxxxxx";}
#btn-xxxxxxxx:before {    content: "xxxxxxxxx";}
#btn-xxxxxxxx:before {    content: "xxxxxxxxx";}
#btn-xxxxxxxx:before {    content: "xxxxxxxxx";}
#btn-xxxxxxxx:before {    content: "xxxxxxxxx";}
#btn-xxxxxxxx:before {    content: "xxxxxxxxx";}
#btn-xxxxxxxx:before {    content: "xxxxxxxxx";}
#btn-xxxxxxxx:before {    content: "xxxxxxxxx";}
#btn-xxxxxxxx:before {    content: "xxxxxxxxx";}
#btn-xxxxxxxx:before {    content: "xxxxxxxxx";}
#btn-xxxxxxxx:before {    content: "xxxxxxxxx";}
#btn-xxxxxxxx:before {    content: "xxxxxxxxx";}