/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-2016 Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

 :global {
  @media screen and (max-width: 1000px) {
      .Select-control {
        width: 100% !important
      }
    }
 }

.root {
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  margin-top: calc(50vh - 82px);
	text-align: center;
  z-index: 12;
  width: 100%;
  transition: all 1s


}
.force_white {
  color: #fff !important
}
.hidden_source {
  display: none;
}
.open_sources  {
  display: block;
  position: absolute;
  right: 0px;
  background-color: #fff;
  text-align: right;
  max-width: 170px;
  z-index: 999999;
  margin-right: -20px;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
}
.tooltip {
  position: absolute;
  width: 160px;
  transition: all 1s;
  text-align:center;
  padding: 2px;
  border-radius: 2px;
  color: #fff;
  background-color: rgba(0,0,0,0.9);
  display:none;
  font-size: 11px;
  bottom: 70px;
  margin-left: -80px

}
.root.fix_position {
  position: fixed;
  left: 0px;
  margin-top: 0px;
  height: 100vh;
  background-color: rgba(0,0,0,0.7)
}
.root.fix_position .container {
  margin-top: 140px
}
.root.full {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  padding: 10px 0px;
  background-color: #fff;
  transition: all 1s;
  left: 0px;
  margin-top: 0px;
}

.container {
  margin: 0 auto;
  padding: 20px 0 40px;
  max-width: 1200px;
  position: relative;
  transition: all 1s;
  text-align: left

}

:global {
  .content b, .content strong {font-weight: 700 !important; background-color: #FFFF00}
}

.li li{list-style: none}
.bar {display: block;height: 20px; background-color: #894f62; color: #fff;box-shadow: 0 0 2px rgba(0,0,0,0.4); padding: 5px 10px 5px 5px; transition: all 0.5s;text-align: center}
.suggest {list-style: none; padding:4px; font-size: 16px; color: #666}
.suggest:hover {background-color: #ccc; color: #333}
.result em {font-weight: 600; color: #000; background-color: #ff0}
.result {padding: 5px; cursor:pointer; }
.result:hover {background-color: #f9f9f9}
.result  * {font-size: 95%;word-wrap: break-word;
    text-overflow: ellipsis;}
.outer_link {
  color: #E5AF17;
  text-decoration: none;
  font-weight: 500
}
.left_back {font-size: 29px;text-align: left}
.close {float:right;margin: 10px; font-size: 22px}
.pag_btn {
  padding: 5px;

  text-decoration: none;
  color: #222;
  font-weight: 500
}
.visited .header {
  color: #609 !important
}
.question {float:right; display:block; cursor:pointer}
.highlights {padding: 0px; line-height: 15px}
.modal_doc {
      position: fixed;
      top: 6vh;
      background-color: #fff;
      padding: 0px;
      max-width: 60%;
      margin-left: 50%;
      min-width: 60%;
      left: -30%;
      z-index: 9999;
      box-shadow: 0 0 3px rgba(0,0,0,0.9);
      border: solid 3px #ccc;
      border-radius: 2px;



}

.tutorial {
      position: fixed;
      top: 6vh;
      background-color: #fff;
      padding: 20px;
      max-width: 60%;
      margin-left: 50%;
      min-width: 60%;
      left: -30%;
      z-index: 9999;
      box-shadow: 0 0 3px rgba(0,0,0,0.9);
      border: solid 3px #ccc;
      border-radius: 2px;



}

.highlights em {
  background-color: #FFFF00
}
.description {
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.58;
  text-align: justify;
  letter-spacing: -.003em;
  word-wrap: break-word;
}
.description li {font-size: 14px}
.description p:empty {
   display: none;
}
.description table {
  width: 100%
}
.description strong {
  background-color: #FFFF00
}
.description td {width: auto; }
.description img {
  display:none
}
.fix_table td {
  border: solid 1px #ccc;
  padding: 5px;
}
.tab_data {
  display: inline-block;
  width: 50%;

}
.tab_data span {
  width: 50%;
  text-transform: capitalize;
  padding-left: 5px;
  vertical-align: top;
  display: inline-block;
}
.suggester {
  position: absolute;
  left: 50%;
  width: 40%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,.4);
  z-index: 12;
  margin-left: -23%;
  text-align: center;
}
.search_block {
  max-height: 40vh;
  overflow-y: scroll;
  margin-top: 20px
}
.orderBy {
  font-size: 0.8em;
  cursor:pointer;
}
.full .search_block {
  max-height: inherit;
  overflow-y: visible;
}
.option_container {
  position: absolute;
  width: 440px;
  right: 0px;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
  padding: 0px 0px 10px 5px;
  z-index: 99999


}
.opt {
  width: 100%;
  max-width: 200px;
  display: block;
  padding: 2px 0px;
  cursor: pointer;
}
.opt:hover {
  background-color: #f9f9f9
}
.pill_btn {
  background-color: #BFCD2E;
  color: #fff;
  padding: 2px;
  display: inline-block;
  border-radius: 10px;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px
}
.see_more {text-align: center;padding: 10px; border-top: 2px solid #ccc}
.see_more:hover {background-color: #000; color: #fff}
.header {font-size: 95% !important; color: #0082BF !important; font-weight: 600;
  width: 93%;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  display: block;}
.reservados_table {
  font-size: 14px;
}
.fix_doc_title {


  width: 100%;
  display: block;
  margin: 0px;

  vertical-align: bottom;
}
.reservados_table thead {background-color: #f9f9f9}
.reservados_table td {
  border: solid 1px #ccc; padding:5px; font-size: 13px
}
//.reservados_table {white-space: nowrap}
.search_header {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-radius: 50px;
    background-color: #fff;
    overflow: hidden;
  }

.search_input {
  width: calc(100% - 85px) !important;
  padding: 15px 10px !important;
  padding-top: 20px !important;
  float: left;
  border: none !important;
  text-align: center;
  font-size: 1.3em !important;
  outline: none;
  border-color: transparent !important;
  box-shadow:  none !important;
}
.search_input*:focus {
    outline: none !important;
}
.full .search_header {
  box-shadow: 0 0 2px rgba(0,0,0,0.4);
}
.extra {
  background-color: #f9f9f9;
  border: solid 1px #ccc;
  padding:10px
}
.doc_name {
  display: inline-block;
  color: #fff !important;
  padding: 0px 10px !important;
  vertical-align: bottom
}
.doc_header {
  background-color:  #fff;
  padding: 0px;
}
 .doc_print span b {
  font-weight: 700;
  display: inline-block;
  min-width: 200px;
  padding-right: 10px;


}

.doc_print th{
  font-weight: 700;
  padding-right: 10px;
  min-width: 200px;
  text-align: right;
  color: #198FC5;
  vertical-align: top
}



.doc_body {padding: 10px; position: relative}
.search_btn {width: 60px;float:right; padding-top: 10px;background-color: rgba(250,255,255,1); height: 54px;    text-align: center;
    font-size: 29px;
}
.advanced_trigger {
  text-align: right;
  float:right;
  padding: 5px 5px;
  cursor: pointer;
  background-color: #f9f9f9;
  border: solid 1px #ccc

}
.advanced_options {
  width: 100%;
  padding-top: 5px;

}
.contain_option {
  display:inline-block;
  padding-left: 1%;
  padding-right: 3%;
  padding-bottom: 0%;
  position: relative;
  vertical-align: text-top;
}


.advanced_options > div.open > select {display:block}
.common_search {
    padding: 5px;
    color: #fff;
    clear:both;
    background-color: rgba(0,130,191,.8);
    margin-top: 5px;
    padding: 5px 20px;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 10px;
    text-align: left;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-radius: 50px;}
.tag {background-color: #fff; padding: 2px 5px; margin-left: 5px;border-radius: 10px; color: #000; font-size: 0.9em;cursor:pointer}
.search_results {background-color:  #fff;margin-top: 5px;    padding: 5px 20px;
    margin-left: 12%;
    margin-right: 12%;}
.source_button button::focus {
  outline: 0;
}
.source_button button {
    outline: 0!important;
    background-color: transparent;
    border: none;
    padding:5px  2px;
    font-size:  13px}
.source_button button:hover {border-bottom: #0082bf solid 2px;background-color: #f1f1f1;}
.highlights p {
  padding: 2px;
  margin: 0px;
}
.advanced_search {
  display:block;
  padding: 5px;
  border-bottom:  solid 1px #ccc
}
.source_button {

  padding-top: 20px;
  clear: both;
}
.text_is_search {
  text-align: center;
  display:inline-block
}
:global {


  

  .ui.items>.item .extra {
    color: #333
  }
  .attached.buttons .button {
    background-color: rgba(105, 153, 202,0.8) !important;
    color: #fff !important
  }
  .attached.buttons .button.active {
    background-color: rgba(105, 153, 202,1) !important;
    color: #fff !important
  }
  button.active {
    border-bottom: 2px solid #0090DB;
    background-color: #f1f1f1;
  }

  .header  {
    color: #069 !important;
    font-weight: 500
  }
}
.close {
  cursor:pointer;
  color: #fff;
}
.close_btn {
  color: #fff;

  cursor: pointer;
  font-size: 2em;
  margin: 10px;
  position: absolute;
  left: calc(91% - 5px);
}
@media screen and (max-width: 1200px) {
  .fix_menu_mobile {

    overflow-x: scroll;
    overflow-y: visible;
    width: 70% !important;
    display: inline-block;
  }
}

@media screen and (max-width: 1000px) {
   .close_btn {
      background-color: #198ec5;
      width: 40px;
      text-align: center;
      right: 0px;
      left: initial;
      margin: 0px;
      padding-top: 11px;
      height: 54px;
   }
   .search_block {
      max-height: 36vh
   }
    .close {

    } 
  .vigencia {
   display:none;
   position: relative
  }  
  .total_result {
      display:block;
      width: 100%
  }
  .order_obj {
      display:block;
      width: 100% !important;
  }
  .contain_option {
    width: 100% !important
  }
  .contain_option input {
    width: 100%;
    max-width: 100% !important;
    padding: 15px 5px !important;
    margin: 0px !important;
  }
 
  .root.fix_position {z-index:99999 !important}
   .search_header {
    transition: 1s all
   }
   .search_results {
     margin-left: 5px;
     margin-right: 5px
   }
  .root.fix_position .search_header {
   border-radius: 0px;
   margin-left: 5px;
   margin-right: 40px
  }
  .root.fix_position .container {
    margin-top: 0px
  }
  .modal_doc {
    position: fixed;

    background-color: #fff;
    padding: 0px;
    max-width: 100%;
    margin-left: 0%;
    top: 0px;
    left: 0px;
    height: 100vh;
  }
  .fix_menu_mobile > div {
    display: table;
    white-space: nowrap;
    width: auto
  }
  .doc_body {
      width: 100%
  }
  .fix_menu_mobile {

    overflow-x: scroll;
    overflow-y: visible;
    width: 100% !important;
    display: block;
  }
  .tab_data span {
      display:block
  }
  .doc_header {max-width: 100vw}
  .common_search {
    text-align: center;
    display:none !important;
    border-radius: 0px !important;
  }
  .tag {
    width: 80%;
    display: block;
    margin: 10px auto;

  }
  .advanced_trigger {
    float:none;
    width: 100%;
    display: block;
    text-align: center
  }

}

@media print {
  body * {
    visibility: hidden;
  }
  :global {

    #docprint, #docprint * {
    visibility: visible;
      color: #444
    }
    #docprint {
      position: fixed;
      width: 100vw;
      height: 100vh;
      background-color: #fff;
      left: 0;
      top: 0;
    }
  }
}


.root h4 {
  font-weight: 400;
line-height: 24px;
font-size: 1.1em;
padding: 5px 0px;
}

.root h3 {
  padding: 5px;
  font-size: 1.4em;
  font-weight: 400
}
